html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #fff;
    -webkit-transition: background-color 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: background-color 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.scroll-content-wrapper{
	    width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
}
.scroll-content{
	    position: absolute;
    left: 0;
    top: 0;
    right: -30px;
    bottom: 0;
    padding-right: 15px;
    overflow-y: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}
header{
	  position: relative;
	  height: 100px;
	  overflow: hidden;
	  width: 100%;
	  background: #7b7b7b;
	  color: #fff;
	  text-align: center;
}
.intro{
	width: 41.6666666667%;
    position: fixed;
    top: 100px;
	bottom: 0;
	padding: 40px;
	text-align:center;
	background: #7fbbd2;
	box-sizing: border-box;
}
nav{
	height: 50px;
    background-color: #000;
    display: block;
    position: fixed;
    top: 100px;
    right: 0;
    width: 58.3333333333%;
    z-index: 2;
	color: #fff;
}
ul{
	list-style: none;
	float: left;
    width: 100%;
	margin-bottom:0;
	margin-top: 10px;
}
nav li{
	float: left;
	margin: 0 10px;
	padding: 5px;
}
.content-sections{
	width: 58.3333333333%;
    float: right;
	padding: 20px;
	box-sizing: border-box;
}
.content{
	padding-top: 70px;
	font-size:24px;
}
.content-sections p{
	font-size: 20px;
    line-height: 26px; 
}